* {
  margin: unset;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}
.nav {
  display: flex;
  flex-direction: row; /* make the buttons align horizontally */
  gap: 10px;
  overflow-y: auto;
}
main {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

main aside {
  display: grid;
  grid-template-columns: 0;
  transition: grid-template-columns 0.5s ease-in-out;
  overflow-x: clip;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

main aside.visible {
  grid-template-columns: auto;
}

main aside > * {
  padding: 0.5rem;
  min-width: 25ch;
}
.map-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.info-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  padding: 20px;
  background-color: rgba(175, 175, 175, 0.8);
  border-radius: 15px;
  width: 550px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible; /* Add this line to allow the dropdown menu to be visible */
}

.info-box header {
  align-self: flex-start;
  padding-bottom: 2px;
  z-index: 11; /* Make sure the header has a lower z-index than the dropdown */
}

.aside-box {
  position: absolute;
  bottom: 2000px;
  left: 270px; /* Adjust this value as needed to create the desired space */
  z-index: 10;
  padding: 20px;
  background-color: rgba(175, 175, 175, 0.8);
  border-radius: 15px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}
.info-box {
  transition: transform 0.3s ease-in-out;
}

.info-box.visible {
  transform: translateX(0);
}

.info-box.hidden {
  transform: translateX(-100%);
}

.dropdown {
  z-index: 1000; /* make the dropdown appear above all other elements */
}

.dropdown-wrapper {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: transparent;
  color: #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}
.dropdown-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 12; /* Set a higher z-index for the dropdown menu */
  overflow: visible;
}
.custom-dropdown .react-select__menu {
  position: absolute;
  top: 100%; /* Position the dropdown below the input */
  left: 0;
  zindex: 12; /* Set a higher z-index for the dropdown menu */
  overflow: visible;
}
