* {
  margin: unset;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

main aside {
  display: grid;
  grid-template-columns: 0;
  transition: grid-template-columns 0.5s ease-in-out;
  overflow-x: clip;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

main aside.visible {
  grid-template-columns: auto;
}

main aside > * {
  padding: 0.5rem;
  min-width: 25ch;
}
.map-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.info-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  padding: 20px;
  background-color: rgba(175, 175, 175, 0.8);
  border-radius: 15px;
  width: 200px; /* make the box thinner */
  height: 250px; /* make the box taller */
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto; /* add a scrollbar if the content overflows */
}
.aside-box {
  position: absolute;
  bottom: 20px;
  left: 270px; /* Adjust this value as needed to create the desired space */
  z-index: 10;
  padding: 20px;
  background-color: rgba(175, 175, 175, 0.8);
  border-radius: 15px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}
.info-box {
  transition: transform 0.3s ease-in-out;
}

.info-box.visible {
  transform: translateX(0);
}

.info-box.hidden {
  transform: translateX(-100%);
}
