* {
  margin: unset;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}
.nav {
  display: flex;
  flex-direction: row; /* make the buttons align horizontally */
  gap: 10px;
  /*  overflow-y: auto; */
}
main {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

main aside {
  display: grid;
  grid-template-columns: 0;
  transition: grid-template-columns 0.5s ease-in-out;
  overflow-x: clip;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.switches {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Optional: adds some space between the elements */
}

main aside.visible {
  grid-template-columns: auto;
}

main aside > * {
  padding: 0.5rem;
  min-width: 25ch;
}
.map-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.info-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  padding: 20px;
  background-color: rgba(28, 36, 34, 0.8);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 550px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible; /* Add this line to allow the dropdown menu to be visible */
}

.info-box header {
  align-self: flex-start;
  padding-bottom: 10px;
  z-index: 11; /* Make sure the header has a lower z-index than the dropdown */
}

.aside-box {
  position: absolute;
  bottom: 165px;
  left: 20px; /* Adjust this value as needed to create the desired space */
  z-index: 10;
  padding: 20px;
  background-color: rgba(28, 36, 34, 0.8);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 550px;
  height: 100px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  overflow-y: auto;
  gap: 80px;
}

.info-box.visible {
  transform: translateX(0);
}

.info-box.hidden {
  transform: translateX(-100%);
}

.dropdown {
  z-index: 1000;
  color: rgb(0, 0, 0);
  margin-left: auto;
  width: 120px;
}

.dropdown-wrapper {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #000000;
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background: transparent;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-label {
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
.dropdown-menu {
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 12; /* Set a higher z-index for the dropdown menu */
  overflow: visible;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.styled-link {
  display: inline-block;
  width: 100px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  background: #ccc;
  border-radius: 25px; /* Adjust as needed */
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 50px; /* Adjust as needed */
  color: #000;
  text-decoration: none;
  transition: background 0.3s;
}

.styled-link:active {
  background: #1654cf;
}
